<div class="nav-container">
    <div class="logo">
        <h1><span class="first-name">LUKE</span><span class="last-name">THOMPSON</span></h1>
    </div>
    <div class="links">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="https://github.com/LukeT2340"><img src="GitHub_Logo.png"></a></li>
            </ul>
        </nav>   
    </div>
</div>